<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/search-page">Burdell's Ramblin' Wrecks</a>

  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"><a class="nav-link" routerLink="/search-page">Search</a></li>

    <li class="nav-item"><a class="nav-link" routerLink="/login" *ngIf="!isAuthenticated()">Login</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/search-page" (click)="logout()" *ngIf="isAuthenticated()">Logout</a></li>
  </ul>
</nav>