<h1>Vehicles list</h1>
<form [formGroup]="form" (ngSubmit)="searchVehicles()">

  <div class="outer-box">
    <div>
      <h3>Filters:</h3>
    </div>
    <div class="box">
      <input placeholder="VIN" type="text" class="form-control item" formControlName="vin">
      <mat-select class="form-control item" placeholder="Type" formControlName="type" name="type">
        <mat-option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.type">
          {{vehicleType.type}}
        </mat-option>
      </mat-select>
      <mat-select class="form-control item" placeholder="Make" formControlName="make" name="make">
        <mat-option *ngFor="let vehicleMake of vehicleMakes" [value]="vehicleMake.make">
          {{vehicleMake.make}}
        </mat-option>
      </mat-select>
      <input placeholder="Model" type="text" class="form-control item" formControlName="model">
      <input placeholder="Year" type="text" class="form-control item" formControlName="year">
      <mat-select class="form-control item" placeholder="Color" formControlName="colors" name="colors">
        <mat-option *ngFor="let color of colors" [value]="color.color">
          {{color.color}}
        </mat-option>
      </mat-select>
      <mat-select class="form-control item" placeholder="Status" formControlName="status" name="status">
        <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
      </mat-select>
      <input placeholder="Keyword" type="text" class="form-control item" formControlName="keyword">
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Apply filters</button>
      <a routerLink="/purchased-vehicle-form"><button type="submit" class="btn btn-primary"
          *ngIf="stateService.permissionMatches('inventory clerk')">Add Vehicle</button></a>
      <a routerLink="/reports-page"><button type="submit" class="btn btn-primary"
          *ngIf="stateService.permissionMatches('manager')">View Reports</button></a>
    </div>

  </div>


  <br>
  <br>


  <h3 *ngIf="vehicles.length > 0">Vehicles</h3>
  <div>
    <table mat-table [dataSource]="vehicles" class="mat-elevation-z8" *ngIf="vehicles.length > 0">

      <!-- COLUMN INFO -->
      <!--vin Col -->
      <ng-container matColumnDef="vin">
        <th mat-header-cell *matHeaderCellDef>VIN</th>
        <td mat-cell *matCellDef="let item"> {{item.vin}} </td>
      </ng-container>

      <!--type Col -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let item">{{item.type}} </td>
      </ng-container>

      <!--make Col -->
      <ng-container matColumnDef="make">
        <th mat-header-cell *matHeaderCellDef>Make</th>
        <td mat-cell *matCellDef="let item">{{item.make}} </td>
      </ng-container>

      <!--model Col -->
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef>Model</th>
        <td mat-cell *matCellDef="let item">{{item.model}} </td>
      </ng-container>

      <!--year Col -->
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>year</th>
        <td mat-cell *matCellDef="let item">{{item.year}} </td>
      </ng-container>

      <!--colors Col -->
      <ng-container matColumnDef="colors">
        <th mat-header-cell *matHeaderCellDef>Colors</th>
        <td mat-cell *matCellDef="let item">{{item.colors}} </td>
      </ng-container>

      <!--mileage Col -->
      <ng-container matColumnDef="mileage">
        <th mat-header-cell *matHeaderCellDef>Mileage</th>
        <td mat-cell *matCellDef="let item">{{item.mileage}} </td>
      </ng-container>

      <!--price Col -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let item">{{item.purchasePrice}} </td>
      </ng-container>

      <!-- ROW Info-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr class="btn-item" mat-row *matRowDef="let rowData; columns: displayedColumns;"
        [ngClass]="{'highlight': selectedRowIndex == rowData.id}" (click)="viewDetails(rowData)"></tr>

    </table>
  </div>

  <h4 *ngIf="vehicles.length == 0">Sorry, it looks like we don’t have that in stock!</h4>
  <br>
  <br>

</form>